@model IEnumerable<DatabaseProject.RecurringTransaction>

@{
    ViewBag.Title = "Recurring Transactions";
}

<h2>Recurring Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedAmount)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecurringTransactionIDNumberThingyIDoNotLikeThisProject }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecurringTransactionIDNumberThingyIDoNotLikeThisProject }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecurringTransactionIDNumberThingyIDoNotLikeThisProject })
        </td>
    </tr>
}

</table>
