@model DatabaseProject.Transaction

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransID)
            @Html.ValidationMessageFor(model => model.TransID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AcctID, "Account")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AcctID", String.Empty)
            @Html.ValidationMessageFor(model => model.AcctID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.From)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID, "Category")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reconciled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reconciled)
            @Html.ValidationMessageFor(model => model.Reconciled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckNum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckNum)
            @Html.ValidationMessageFor(model => model.CheckNum)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
