@model DatabaseProject.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">
         Date
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         Account
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BankAccount.Name)
    </div>

    <div class="display-label">
         To/From
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ToFrom)
    </div>

    <div class="display-label">
         Category
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Reconciled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reconciled)
    </div>

    <div class="display-label">
         Check #
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CheckNum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
