@model IEnumerable<DatabaseProject.Transaction>

@using System.Globalization;

@{
    ViewBag.Title = "Transactions";
}


<h2>Transactions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Account
        </th>
        <th>
            To/From
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reconciled)
        </th>
        <th>
            Check #
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.Reconciled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransID })
        </td>
    </tr>
}

</table>
